#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* custom marker styling */

.icon-marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s linear;
}

img.marker-image {
    width: 25%;
    height: 100%;
    transition: transform 0.2s linear;
}
