body {
    display: flex;
    flex-direction: column;
}

.controller {
    display: flex;
    margin: 8px;
    align-items: center;
}

#left-joystick,
#right-joystick {
    width: 15vw;
    height: 15vw;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}

#camera {
    flex-grow: 1;
    background-color: black;
    aspect-ratio: 4/3;
    width: 0;
}