.container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px;
}

details {
    display: flex;
    flex-direction: column;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

summary::marker {
    content: '';
}

summary::after {
    content: '+';
    font-family: monospace;
    font-size: 16px;
    line-height: 1;
}

details[open] summary::after {
    content: '-';
    font-family: monospace;
}

/* .position {
    margin: 8px;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    line-height: 1.5;
} */

.controller {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#left-joystick,
#right-joystick {
    width: 15vw;
    height: 15vw;
    border: 2px solid black;
    border-radius: 50%;
    margin: 8px;
}

.media {
    margin: 8px;
    height: calc(100% - 16px);
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* purpose of this element is, that the video does not take over control on the media element height and scrollbars appear */
.video {
    width: 0;
    height: 0;
    overflow: visible;
}

#camera {
    position: relative;
    aspect-ratio: 4 / 3; /* also change this in style.js */
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    background-color: black;
}