.container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px;
}

.dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: min-content;
}

.navigation {
    background-color: #2c2d2e;
    padding: 4px;
}

.navigation a {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin: 4px;
}